	p{ font-family:'PT Serif', serif;
	}
	.P1{
		color: white;
		font-size: 12px;
		position: absolute;
			left: 69%;
			top: 132px;
	}
	.P1:hover{
		color: rgb(253,182,19);
	}
	.P2{
		color: rgb(253,182,19);
		font-size: 40px;
		position: absolute;
		left: 20%;
		top: 100px; 
	}
	
		div.footer{
		font-weight: lighter;
		color: rgba(255,255,255,0.5);
		font-size: 12px;
		position: absolute;
		/* left: 42%; */
		bottom: 10px;
		width: 100%;
		text-align: center;
	}
		
	.导视设计{
		font-family:'PT Serif', serif;
		text-decoration: none;
		position: absolute;
		left: 22%;
		top: 220px;
		font-size:20px;
		color:white
	}
	.导视设计:hover{
		color: rgb(253,182,19);
		font-size:22px;
	}
	.图标设计{
		font-family:'PT Serif', serif;
		text-decoration: none;
		position: absolute;
		left: 22%;
		top: 270px;
		font-size:20px;
		color:white
	}
	.图标设计:hover{
		color: rgb(253,182,19);
		font-size:22px;
	}
	.木工{
		font-family:'PT Serif', serif;
		text-decoration: none;
		position: absolute;
		left: 22%;
		top: 320px;
		font-size:20px;
		color:white
	}
	.木工:hover{
		color: rgb(253,182,19);
		font-size:22px;
	}

		
		.h1{color: rgba(253,182,19,0.7);
			position: absolute;
			left: 30%;
			top: 0px;
			font-size: 20px;
		}
		.logo{
			width: 20%;
			position: absolute;
            left: 26%;
            top:80px
		}
		.introduce{
			color: white;
			width: 40%;
			position: absolute;
			left: 48%;
			top: 100px;
			font-size: 20px;
		}
		
			.GuidanceDesign2{
			width: 50%;
			position: absolute;
			left: 34%;
			top: 630px
		}
			.GuidanceDesign3{
			width: 50%;
			position: absolute;
			left: 34%;
			top: 280px
		}
		.GuidanceDesign1{
			width: 50%;
			position: absolute;
			left: 34%;
			top: 980px
		}
		.GuidanceDesign4{
			width: 50%;
			position: absolute;
			left: 34%;
			top: 1330px
		}
	
		div.scroll::-webkit-scrollbar {
		width: 10px;
	}

		div.scroll::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey; 
		border-radius: 5px;/* 滚动条圆角 */
	}

	div.scroll::-webkit-scrollbar-thumb {
		background: #5e5b6b; 
		border-radius: 10px;
	}
	/*滚动条悬停后颜色Handle on hover */
	div.scroll::-webkit-scrollbar-thumb:hover {
		background: #4b4855; 
	}

 p span{  
        float:left;  
        position: relative;
        left: 22%;
        top: 115px;  
   /*     font-weight: bolder;*/
        font-family:'PT Serif', serif;
       
    }  

    p span:nth-child(1){  
        -webkit-animation:jump 1s linear 0s infinite alternate;  
    }  

    p span:nth-child(2){  
        -webkit-animation:jump 1s linear 0.1s infinite alternate;  
    }  

    p span:nth-child(3){  
        -webkit-animation:jump 1s linear 0.2s infinite alternate;  
    }  

    p span:nth-child(4){  
        -webkit-animation:jump 1s linear 0.3s infinite alternate;  
    }  
     
    @-webkit-keyframes jump  
    {  
        0%{  
            top:0px;  
            color:rgb(253,182,19);  
        }  
        50%{  
            top:-10px;  
            color:rgb(253,182,19);  
        }  
        100%{  
            top:10px;  
            color:rgb(253,182,19);  
        }  
    }  