	p{		font-family:'PT Serif', serif;
			margin:8px;
		}

	.P1{
		color: white;
		font-size: 14px;
		position: absolute;
			left: 69%;
			top: 132px;
	}
	.P1:hover{
		color: rgb(253,182,19);
	}
	.P2{color: rgb(253,182,19);
		font-weight: bolder;
		font-size: 30px;
		position: absolute;
			left: 22%;
			top: 120px; 
	}
	.P3{
		color: rgba(253,182,19,0.8);
		font-size: 20px;
		position: absolute;
			left: 44%;
			top: 240px; 
	}
		.P4{
			font-size: 15px;
			color: white;
			position: absolute;
			left: 43%;
			top: 300px; 
		}
		.P5{
			font-size: 15px;
			color: white;
			position: absolute;
			left: 42%;
			top: 325px; 
		}
		.P6{
			font-size: 15px;
			color: white;
			position: absolute;
			left: 44%;
			top: 350px; 
		}
		.P7{
			font-size: 15px;
			color: white;
			position: absolute;
			left: 28%;
			top: 375px; 
		}

	.footer{
			font-weight: lighter;
			color: rgba(255,255,255,0.5);
			font-size: 12px;
			position: absolute;
			left: 44%;
			top:680px; 
	}

	.line{
		position: absolute;
		left: 33%;
		top: 290px;
   }
	.wechat{
			position: absolute;
			left: 43%;
			top: 440px;
	}
	.QQ{
		position: absolute;
			left: 51%;
			top: 440px;
	}
	